<ion-header>
  <ion-toolbar>
    <ion-title>
        Battery Status
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="dynamic-card" [style]="getDynamicCardColour(this.MQTT.getLiving().colour)">
    <div class="room-title">Living room</div>
    <div class="battery">{{this.MQTT.getLiving().battery}}%</div>
  </ion-card>

  <ion-card class="dynamic-card" [style]="getDynamicCardColour(this.MQTT.getKitchen().colour)">
    <div class="room-title">Kitchen</div>
    <div class="battery">{{this.MQTT.getKitchen().battery}}%</div>
  </ion-card>

  <ion-card class="dynamic-card" [style]="getDynamicCardColour(this.MQTT.getDining().colour)">
    <div class="room-title">Dining room</div>
    <div class="battery">{{this.MQTT.dining.battery}}%</div>
  </ion-card>

  <ion-card class="dynamic-card" [style]="getDynamicCardColour(this.MQTT.getToilet().colour)">
    <div class="room-title">Toilet</div>
    <div class="battery">{{this.MQTT.getToilet().battery}}%</div>
  </ion-card>

  <ion-card class="dynamic-card" [style]="getDynamicCardColour(this.MQTT.getBedroom().colour)">
    <div class="room-title">Bedroom</div>
    <div class="battery">{{this.MQTT.getBedroom().battery}}%</div>
  </ion-card>
</ion-content>
